<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Integration test" parallel="methods" thread-count="3">
    <test name="search test">
        <classes>
            <class name="com.tests.FreshApi"/>
        </classes>
    </test>
</suite>